nav {
  height: 10%;
  background-color: #478753;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  color: white;
}

nav h1 {
  font-weight: bolder;
  margin: 0px;
  font-size: 2.5rem;
}

nav a {
  color: white;
  text-decoration: none;
}
